POSTGRES_USER=username
POSTGRES_PASSWORD=password
POSTGRES_DB=database_name
POSTGRES_PORT=5432
DATABASE_URL=pgx5://username:password@localhost:5432/database_name
JWT_SECRET=your_jwt_secret_key_here
CORS_ALLOWED_ORIGINS=http://localhost:3000,http://localhost:5173